.transactions-box {
    margin-top: 48px;
    border: 0.5px solid #CED9E8;
    border-radius: 16px;
    width: calc(100vw - 500px);
}

.transactions-title {
    background: #FCFDFF;
/* Money Grey/Grey 400 */
    border: 0.5px solid #CED9E8;
    border-radius: 16px 16px 0px 0px;
    display: flex;
    justify-content: space-between;
    padding: 11px;
    padding-left: 16px;
}

.trx {
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
/* identical to box height, or 129% */


/* Money Grey/Grey 900 */
    color: #0D152E;
}

.trx:last-child {
    margin-right: 36px;
}

.transaction {
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 11px;
    padding-right: 16px;
    cursor: pointer;
    padding-left: 16px;
    border-bottom: .1px solid #E8F0FB;
    transition: .4s;
}
.transaction:hover {
    background: #F2F0FA;
}
h6.transaction-desc {
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
/* or 133% */


/* Money Purple/Purple 800 */
    color: #19145C;
}

.transaction-date {
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
/* identical to box height, or 120% */


/* Money Grey/Grey 600 */
    color: #6B6F7D;
    margin-top: 8px;
}

.transaction-amount {
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
/* identical to box height, or 129% */
    text-align: right;
}

.transaction-status {
    width: 32px;
    height: 32px;
    margin-right: 12px;
    color: #000;
}

.transaction-details {
    display: flex;
}

.transaction-status.in-flow {
    background: #eefcf2;
    color: #1C9B40;
}
.transaction-status.out-flow {
   background: #FFFAFA;
    color: #990A0C;
}

.transaction-status {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
}
.transaction-status.failed {
    background: #FFEDED;
    color: #F12A2C;
}

.trx-status {
    padding: 5px 10px;
    border-radius: 25px;
    color: white;
}


.pending {
    background-color: orange;
}
.completed {
    background-color: green;
}
.failed {
    background-color: #ea1b2a;
}